{% extends "base.html" %}

{%block title%}
Liste devis
{%endblock title%}

{%block content%}
<ul>
    {% for devi in devis %}
        <div class="col-md-3">
            <li><a href="{% url 'devis-detail' request.user.username devi.id %}">{{devi.proposition}} {{devi.id}} </a></li>
            <li><label>Vendeur : </label> {{devi.dealer}}</li>
            <li><label>Status : </label> {{devi.status}}</li>
            <li><label>Client : </label> <a href="{% url 'profile-detail' devi.customer.user.username %}">{{devi.customer}}</a></li>
        </div>
    {% endfor %}
</ul>

{% endblock content %}
